<div id="header_left">
    <div id="logo">
      <a href="{{ root_url }}/"><img style='vertical-align:middle' src='{{ root_url }}/images/interoperate_icon_white.png'></a>
    </div>
    <div id="title">
      <h1 style='vertical-align:middle'><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  </div>
  
  {% if site.subtitle %}
   <div id="strapline"><h2>{{ site.subtitle }}</h2></div>
  {% endif %}
</div>

<div id="header_right">
  <span>
  <a href="http://www.facebook.com/pages/Interoperate/344511882244934"><img style='vertical-align:middle' src='{{ root_url }}/images/facebook-32.png'></a>
  <a href="https://twitter.com/#!/Interoper8"><img style='vertical-align:middle' src='{{ root_url }}/images/twitter-32.png'></a>
  <a href="http://www.linkedin.com/in/jonwade"><img style='vertical-align:middle' src='{{ root_url }}/images/linkedin-32.png'></a>
  <a href="https://plus.google.com/109744129508056468090"><img style='vertical-align:middle' src='{{ root_url }}/images/googleplus-32.png'></a>
  </span>
</div>
