// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1.0em;
//$header-padding-top: 1.5em;
$header-padding-bottom: 0em;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

header[role="banner"] {
   background-image: url(/images/backgrounds/i8-bg.png);
   background-repeat: repeat-x;
   background-position: top right;
   padding: 0px;
}

#header_left {
  height: 95px;
  padding: 35px 25px 0px 25px;
  margin: 0px;
  float: left;
  background-color: #fff;
//  border-right: 1px solid #c00;
//  border-bottom: 1px solid #c00;
  border-bottom-right-radius: 65px;
}

#header_right {
  height: 110px;
  padding: 10px 25px 10px 25px;
  float: right;
  text-align:center;
  background-color: #fff;
//  border-left: 1px solid #c00;
//  border-bottom: 1px solid #c00;
  border-bottom-left-radius: 65px;
  margin: 0px 0px 0px 0px;
}

#header_right p {
  font-weight: normal;
  line-spacing: normal;
  font-size: 0.6em;
  font-family:'Open Sans','Helvetica','Arial',Sans-Serif;
  color: #002b36;
}

#logo {
  float:left;
}

#title {
  text-align: left;
  float:right;
}

#strapline {
  clear:both;
  text-align: center;
}

#strapline h2 {
  font-weight: normal;
}

#geek {
  border: none;
  color: #859900;
  background: #002b36;
}
#geek pre{
  color: #859900;
  background: #002b36;
  border:none;
  font-size: 1.2em;
}
#cursor {
  background-color: #dc322f;
}
